body{
    font-family: 'Poppins', sans-serif;
}
:root {
    --main-color : #343434;
    --main-background : #f2f1f1;
}
a, nav .nav-link{
    text-decoration: none;
    color: #fff;
}
/* START NAVBAR SECTION */
nav .nav-item a.nav-link {
    position: relative;
}
nav .nav-item a.nav-link::after{
    content: '';
    position: absolute;
    left: 0.5rem;
    bottom: 10%;
    width: 90%;
    height: 2px;
    background-color: var(--main-color);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}
nav .nav-item a.nav-link:hover{
    color: rgb(0, 183, 255) !important;
    opacity: 1;
    visibility: visible;
}
.bg-nav{
    border-color: #e7e7e7;
    z-index: 999999;
    transition: all .5s;
}
.logo h1{
    font-size: 28px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    letter-spacing: 1px;
}


/* START HOME SECTION */
.home{
    background: linear-gradient(rgba(0,0,0,.7) , rgba(0,0,0,.7)) , url(../images/bg.jpg) ;
    background-size: cover;
    background-position: center center;
}
.home-caption p {
    line-height: 1.8;
    margin-bottom: 1rem !important;
    letter-spacing: 4px;
    font-size: 1.3125rem !important;
}
.home-caption h5{
    margin: 0px 1.67em;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
}
.home-caption h1{
    font-size: 4.4rem;
    font-weight: 200;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
}
.home-caption h1::after{
    content: " |";
    animation: home-animation 6s infinite alternate;
    line-height: 1.3;
}
@keyframes home-animation{
    0%{content: "D";}
     3%{content: "De";}
     7%{content: "Dev";}
     11%{content: "Deve";}
     15%{content: "Devel";}
     19%{content: "Develo";}
     23%{content: "Develop";}
     27%{content: "Develope";}
     31%{content: "Developer.";}
     35%{content: "D";}
     34%{content: "De";}
     39%{content: "Des";}
     43%{content: "Desi";}
     47%{content: "Desig";}
     51%{content: "Design";}
     55%{content: "Designe";}
     59%{content: "Designer.";}
     63%{content: "L";}
     67%{content: "La";}
     71%{content: "Lar";}
     75%{content: "Larry ";}
     79%{content: "Larry D";}
     83%{content: "Larry Da";}
     87%{content: "Larry Dan";}
     91%{content: "Larry Dani";}
     95%{content: "Larry Danie";}
     99%{content: "Larry Daniels.";}
     71%{content: "Larry Daniels.";}
     75%{content: "Larry Daniels.|";}
}
.single-icon-home {
    width: 40px;
    height: 40px;
    border: 1px solid;
    opacity: .8;
}
.single-icon-home i {
    font-size: 18px;
    line-height: 1.42857143;
}

/* START HOME SECTION */
.about .card , .clients-info .card , .contact .card , .blog .card {
    border: none !important;
}
.about .about-img {
    position: relative;
}
.about .about-img::before {
    content: '';
    width: 80%;
    height: 80%;
    position: absolute;
    bottom: -30;
    left: -30px;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    z-index: -1;
}
.about .about-img::after {
    content: '';
    width: 80%;
    height: 80%;
    position: absolute;
    left: 0px;
    bottom: -30px;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    z-index: -1;
}
.about .about-info h3 {
    font-weight: 800;
    margin-bottom: 5px;
    font-size: 30px;
}
.about .about-info span {
    color: #999;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.about .about-info p {
    line-height: 1.6;
    font-size: 15px;
    color: #748182;
}
.about .progress {
    border-radius: 5px;
    background: #f7f7f7;
    box-shadow: 0px 2px 7px rgb(0 0 0 / 15%) inset;
    height: auto !important;
}
.about .progress-1 .progress-bar {
    width: 95% !important;
    background-color: var(--main-color);
    padding: 0px 20px;
}
.about .progress-2 .progress-bar {
    width: 80% !important;
    background-color: var(--main-color);
    padding: 0px 20px;
}
.about .progress-3 .progress-bar {
    width: 90% !important;
    background-color: var(--main-color);
    padding: 0px 20px;
}
.progress h6 {
    font-size: 13px;
}
.btn1-about {
    background-color: var(--main-color);
    border-color: var(--main-color);
    transition: all .5s;
}
.btn1-about:hover {
    background-color: #fff;
    color: #748182;
    border-color: #748182;
}
.btn2-about {
    background-color: #fff;
    color: #748182;
    border-color: #748182;
    transition: all .5s;
}
.btn2-about:hover {
    background-color: var(--main-color);
    color: #fff;
    border-color: #748182;
}

/* START SERVICES SECTION */
.services {
    background-color: var(--main-background) ;
}
.services-caption h3 , .portofolio-caption h3 , .clients-caption h3 , .blog-caption h3 , 
.contact-caption h3 {
    font-weight: 900;
    font-size: 40px;
    position: relative;
    display: inline-block;
    line-height: 1.1;
    position: relative;
    z-index: 4;
}
.services-caption h3::after , .portofolio-caption h3::after , .clients-caption h3::after , 
.blog-caption h3::after , .contact-caption h3::after{
    content: '';
    width: 20%;
    height: 30px;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate( -50% , 0%);
    z-index: -1;
}
.service-icon , .clients-icon , .contact-icon {
    width: 60px;
    height: 60px;
    padding: 36px;
    background-color: #f4f4f4 !important;
    transition: all .5s;
}
.service-icon i , .contact-icon i {
    transition: all .5s;
} 
.services .card:hover i , .contact .card:hover i {
    color: #fff;
}
.services .card:hover .service-icon , .contact .card:hover .contact-icon {
    background-color: var(--main-color) !important;
}

/* START PORTOFOLIO SECTION */
.portofolio ul {
    border: none !important;
}
.portofolio ul button {
    border: none !important;
    margin: 0 15px;
    color: #222;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.overlay-img-portofolio {
    width: 100%;
    height: 100%;
    border: 5px solid rgb(245, 237, 237);
    position: absolute;
    top: 0;
    bottom: 5;
    right: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .5s;
}
.overlay-img-portofolio h6 {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.42857143;
    margin-bottom: 15px;
    transform: translateY(-15px);
}
.icon-overlay-portofolio {
    font-weight: 400;
}
.single-icon-portofolio {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--main-color);
    color: var(--main-background);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}
.single-icon-portofolio:hover {
    color: var(--main-background);
    background-color: black;
}

.portofolio .single-icon-portofolio .modal-dialog {
    max-width: 800px !important;
}
.portofolio .single-icon-portofolio .modal-dialog img {
    width: 100% !important;
}
.portofolio .single-icon-portofolio button {
    background-color: var(--main-color) !important;
    color: var(--main-background) !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none !important;
}
.portofolio .single-icon-portofolio button:hover {
    color: var(--main-background) !important;
    background-color: black !important;
}


.portofolio-item {
    position :relative ;
    transition: all .5s;
}
.portofolio-item:hover .overlay-img-portofolio { 
    background-color: rgba(255, 255, 255, 0.95);
    opacity: .97;
}


.overlayInfo-portofolio{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
}

/* START TESTIMONIAL SECTION */
.clients {
    background-color: var(--main-background) !important;
}
.clients button , .blog button {
    width: 10px !important;
    height: 10px !important; 
    margin: 3px 7px;
    background-color: #748182 !important;
    display: block;
    border-radius: 50%;
    transition: all .5s ease;
}
.clients button:hover , .blog button:hover {
    background-color: #636565 !important;
}
.clients .carousel-item {
    user-select: none;
}
.clients img {
    width: 20% !important;
    height: 20% !important;
    visibility: hidden;
}
.clients p {
    line-height: 1.6;
    margin: 0 1em;
    font-size: 15px;
    color: #748182;
}
.clients h6 {
    font-size: 16px;
    font-weight: 600;
    margin: 30px 0 5px;
}
.clients span {
    font-size: 12px;
    font-weight: 600;
    color: #888;
    margin-bottom: 30px;
}
.clients-info h3 {
    font-weight: 900;
    margin-bottom: 15px;
}
.clients-info p {
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 1.6;
    margin: 0;
    font-size: 15px;
    color: #748182;
}

/* START BLOG SECTION */
.blog {
    background-color: var(--main-background);
}
.blog .card {
    user-select: none;
}
.blog img {
    transition: all 1s;
}
.blog .blog-img:hover img {
    transform: scale(1.2 , 1.2);
}
.blog a {
    text-decoration: none;
}
.blog h6 a {
    color: #888 !important;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
}
.blog h4 a {
    color: black !important;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 15px;
}
.blog span {
    padding-bottom: 5px;
    border-bottom: 2px solid #333;
    color: #343434;
    font-weight: 400;
}

/* START contact SECTION */
.contact h6 {
    font-size: 16px;
    font-weight: 700;
    margin: 0em 2.33em;
    margin-bottom: 10px;
}
.contact p {
    line-height: 1.6;
    margin: 0;
    font-size: 15px;
    color: #748182;
}
.contact input , textarea {
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background: #f4f4f4 !important;
}
.contact button {
    background-color: black !important;
    color: #fff;
    border-color: var(--main-color);
    transition: all .5s;
}
.contact button:hover {
    background-color: var(--main-background) !important;
    color: #748182;
    border-color: #748182;
}

footer {
    background-color: #1c1c1c;
    color: #748182;
    margin: 0 !important;
}